/* 
    Document   : wpbbookmark
    Created on : Jan 11, 2012, 10:25:34 PM
    Author     : nur
    Description:
*/


/********************************/
.binnash-bookmark-button   { font-family: arial; height: 60px; width: 50px; text-align: center;float: right;margin-top:-45px;height:45px;}
.binnash-bookmark-button a { text-decoration: none; border: none; }
.binnash-bookmark-button a:hover { text-decoration: none; }
.binnash-bookmark-button .count {position:relative; display: block; text-decoration: none; width: 50px; height: 34px; text-align: center; font-size: 17px; padding: 4px 0px; }
.binnash-bookmark-button .count span.t { font-size: 10px; line-height: 10px; position: absolute; display: block; top: 23px; left: 0px;font-weight: bold; }
.binnash-bookmark-button .bookmark { height: 16px; width: 50px;text-align: center; margin-top: 3px; display: block; cursor: pointer; padding: 0px 0px 0px; font-size: 11px; text-decoration: none; line-height: 16px; }
.binnash-bookmark-button .bookmark:hover, #binnash-bookmark-button .bookmark.selected { background-position: 0px -61px; color: #80b62a; }
.binnash-bookmark-button .bookmark.selected { cursor: text; } 
.binnash-bookmark-page-link{text-align: center;font-size: small;font-weight: bold;}
/****************************************/
.binnash-bookmark-button-default{}
.binnash-bookmark-button-default .count{color: #444444;}
.binnash-bookmark-button-default .bookmark{color: #FFF;}
.binnash-bookmark-button-default .bookmark:hover{color: #80b62a;}

.binnash-bookmark-button-white{}
.binnash-bookmark-button-white .count{color: #444444;background: url('../images/widget-white.gif') no-repeat;}
.binnash-bookmark-button-white .bookmark{color: #FFF;background: url('../images/widget-white.gif') no-repeat 0px -45px;}
.binnash-bookmark-button-white .bookmark:hover{color: #80b62a;}
.binnash-bookmark-button-white .count span.t,.binnash-bookmark-button-white .count span.c {color:#000;}
.binnash-bookmark-button-purple{}
.binnash-bookmark-button-purple .count{color: #444444;background: url('../images/widget-purple.gif') no-repeat;}
.binnash-bookmark-button-purple .bookmark{color: #FFF;background: url('../images/widget-purple.gif') no-repeat 0px -45px;}
.binnash-bookmark-button-purple .bookmark:hover{color: #80b62a;}
.binnash-bookmark-button-purple .count span.t,.binnash-bookmark-button-purple .count span.c {color:#fff;}
.binnash-bookmark-button-default{}
.binnash-bookmark-button-default .count{color: #444444;}
.binnash-bookmark-button-default .bookmark{color: #FFF;}
.binnash-bookmark-button-default .bookmark:hover{color: #80b62a;}
.binnash-bookmark-button-default .count{color: #444444;background: url('../images/widget.gif') no-repeat;}
.binnash-bookmark-button-default .bookmark{color: #FFF;background: url('../images/widget.gif') no-repeat 0px -45px;}
.binnash-bookmark-button-default .count span.t,.binnash-bookmark-button-default .count span.c {color:#000;}
.binnash-bookmark-button-green.count{color: #444444;}
.binnash-bookmark-button-green.bookmark{color: #FFF;}
.binnash-bookmark-button-green.bookmark:hover{color: #80b62a;}
.binnash-bookmark-button-green.count{color: #444444;background: url('../images/widget-green.gif') no-repeat;}
.binnash-bookmark-button-green.bookmark{color: #FFF;background: url('../images/widget-green.gif') no-repeat 0px -45px;}
.binnash-bookmark-button-green.count span.t,.binnash-bookmark-button-default .count span.c {color:#000;}
